


.banner{
    max-width: 50px 50px 50px 50px;
    padding:30px 30px 100px 50px;
    font-size: larger;
    font-weight: 00;
    background-color: rgb(244, 174, 209);
    background-image: url('./images/flower1.png' );
    background-repeat: no-repeat;
    background-size: 550px;
    background-position:  right;

}

.banner-content{

    max-width:500px;
    padding: 50px 10px 10px 50px;
    font-size: 80px;
    
}

.banner-description{
    max-width: 500px;
    margin-bottom: 20px;

    padding: 30px 30px 10px 50px ;


}

.btn{
    padding: 10px 10px;
    background-color: deeppink ;
color: aliceblue;
border: none;

}

.about{

    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    border-radius: 10px;
    

}

.section-title{
color: black;
text-align: center;
font-family: open sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;




}

.section-description{
text-align: center;

}

.image {
display: flex;
padding: 5px;


}








