.banner{
    max-width: 500px 500px 500px 500px;
    padding:30px 30px 100px 50px;
    font-size: larger;
    font-weight: 00;
    background-color: rgb(239, 225, 232);
    background-image: url('./images/flower1.png' );
    background-repeat: no-repeat;
    background-size: 450px;
    background-position:  right;

}

.banner-content{

    max-width:500px;
    padding: 50px 10px 10px 50px;
    font-size: 45px;
    
}

.banner-description{
    max-width: 500px;
    margin-bottom: 20px;

    padding: 30px 30px 10px 50px ;


}

.btn{
    padding: 10px 10px;
    background-color: deeppink ;
color: aliceblue;
border: none;

}






